/**
 * LayoutCSS
 * @authorEunok Kim (publisher@to-be.co.kr)
 * @version0.1
 * @date 2015-09-07
**/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@charset "utf-8";
@font-face {
	font-family:daumR;
	src:url('/static/css/Daum_Regular.eot');
	src:url('/static/css/Daum_Regular.woff') format('woff');

}
@font-face {
	font-family:"Nanum Gothic";
	font-weight:400;
	src:url('/static/css/NanumGothic.eot');
	src:url('/static/css/NanumGothic.woff') format('woff');

}
@font-face {
	font-family:"Nanum Gothic";
	font-weight:700;
	src:url('/static/css/NanumGothicBold.eot');
	src:url('/static/css/NanumGothicBold.woff') format('woff');

}
/*********************** Base Reset Style ***********************/

/* redukyo modify test */
.course-info header.course-profile {padding:20px 0; margin-top: 0px;height: auto;}

/* Font */

/**{font-family:daumR ! important;}*/

header.global{height:auto;box-shadow:none;border-bottom:solid 1px #666;box-shadow:2px 2px 2px #666;}
header.global h1.logo{margin:30px 0;}
header.global h1.logo img {height:44px !important;}
header.global nav {margin:0 auto;padding:0 10px;max-width:1170px;height:auto;position:relative;}
header.global .nav-global{float:none;margin:0 0 0 230px;font-size:0px;padding:40px 0 0 0;width:auto;display:block;}
header.global .nav-global li{margin:0;padding:0;box-sizing:border-box;}
header.global .nav-global li a{padding:0;}
header.global .nav-global li[class^="gnb"]{width:21%;}
header.global .nav-global li[class^="gnb"] a{float:right;width:140px;height:26px;font-size:0px;text-transform:none;font-weight:bold;color:#fff;background:url('/static/images/gnb.png') no-repeat top left;}
header.global .nav-global li.gnb2 a{width:100px;background-position:-254px top;}
header.global .nav-global li.gnb3 a{width:100px;background-position:-465px top;}
header.global .nav-global li.gnb1 a:focus,
header.global .nav-global li.gnb1 a:hover,
header.global .nav-global li.gnb1 a.active {background-position:left -30px;}
header.global .nav-global li.gnb2 a:focus,
header.global .nav-global li.gnb2 a:hover,
header.global .nav-global li.gnb2 a.active {background-position:-254px -30px;}
header.global .nav-global li.gnb3 a:focus,
header.global .nav-global li.gnb3 a:hover,
header.global .nav-global li.gnb3 a.active {background-position:-465px -30px;}

header.global .nav-global li:nth-child(1){position:absolute;right:90px;top:40px;padding:0;width:80px;}
header.global .nav-global li:nth-child(2){position:absolute;right:0px;top:40px;padding:0;width:80px;}
header.global .nav-global li a.btn {display:inline-block;width:100%;height:30px;line-height:30px;text-align:center;border-radius:3px;font-size:14px;font-weight:bold;box-sizing:border-box;}

header.global .nav-global li a.btn.type1 {color:#fff;background:#f58026;border:none;}
header.global .nav-global li a.btn.type1:focus,
header.global .nav-global li a.btn.type1:hover {background:#9f5010;}
header.global .nav-global li a.btn.type2 {line-height:28px;border:solid 1px #d7d7d7;color:#7a7a7a;
	background: -moz-linear-gradient(top,  #fefefe 0%, #f1f1f1 100%); /* FF3.6+ */
	/*background: -webkit-linear-gradient(top,  #fefefe 0%,#f1f1f1 100%); /!* Chrome10+,Safari5.1+ *!/*/
	background: -o-linear-gradient(top,  #fefefe 0%,#f1f1f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#f1f1f1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fefefe 0%,#f1f1f1 100%); /* W3C */
}

header.global .nav-global li a.btn.type2:focus,
header.global .nav-global li a.btn.type2:hover {border:solid 1px #939393;color:#fff;
	background: -moz-linear-gradient(top,  #adadad 0%, #a5a5a5 100%); /* FF3.6+ */
	/*background: -webkit-linear-gradient(top,  #adadad 0%,#a5a5a5 100%); /!* Chrome10+,Safari5.1+ *!/*/
	background: -o-linear-gradient(top,  #adadad 0%,#a5a5a5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #adadad 0%,#a5a5a5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #adadad 0%,#a5a5a5 100%); /* W3C */
}

*[data-btn="gnb"]{display:none;position:absolute;left:-10px;top:0px;width:90px;height:85px;text-indent:-9999px;background:url('/static/images/open.png') no-repeat center;}

.content-wrapper{padding:0px;}

.home>header{margin:0;height:auto;box-shadow:none;border-bottom:none;background:url('/static/images/main_bg01.jpg') repeat top center;}
.home>header .outer-wrapper{margin:0 auto;padding:0;max-width:1170px;}
.home>header .title{margin:0;padding:60px 10px 30px 0;width:auto;max-width:526px;background:none;box-shadow:none;border:none;}
.home>header .title img{width:100%;}
.home>header .title .course-search{padding:10px 210px 10px 30px;overflow:hidden;}
.home>header .title .course-search .search-input{padding-right:10px;font-style:normal;}
.home>header .title .course-search .search-button{right:110px;text-indent:-999999px;width:100px;height:41px;border:none;background:url('/static/images/search.png') repeat top left;}
.home>header .title .course-search .search-button:focus,
.home>header .title .course-search .search-button:hover{right:110px;text-indent:-999999px;width:100px;height:41px;border:1px dotted;background:url('/static/images/search.png') repeat top left;}
.home>header .title .course-search .search-input{height:41px;line-height:41px;font-size:12px;border:solid 1px #555151;border-radius:5px;padding:0 10px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.home>header .title .course-search .search-input {padding:12px 10px;}
}

.home>header .vod{padding:80px 10px 90px 0;text-align:right;background:url('/static/images/main_bg02.png') no-repeat  right top;}
.vod img:focus{border: 1px dotted #fff;}

.home>header.type1{padding:30px 0;text-align:center;background:transparent;}
.home>header.type1 img{width:95%;max-width:1171px;}


.school_info{padding:0 0 30px 0;}
.school_info .inner {margin:0 auto;width:95%;max-width:1170px;}
.school_info .inner p {line-height:1.7em;color:#2b2a2a;}
.school_info  .inner p.title_type2{margin:0 0 30px 0;overflow:hidden;}
.school_info  .inner p.title_type2 span{float:left;margin:0 0 20px 0;font-size:45px;font-weight:600;color:#2b2a2a;display:block;line-height:101px;}
.school_info  .inner p.title_type2 img{float:right;margin:0;}


.wrapper-footer{padding:0;background:#333;}
.wrapper-footer footer#footer-openedx{margin:0 auto;padding:0;max-width:1170px;position:relative;}
.wrapper-footer footer#footer-openedx .colophon{float:none;margin:0;width:auto;}
.wrapper-footer footer#footer-openedx .wrapper-logo{position:absolute;margin:0;top:35px;left:0;}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon{margin:0 0 0 190px;padding:30px 0 0 0;min-height:30px;}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li {position:relative;padding:0 20px 0 0;}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li:after{display:block;content:'|';position:absolute;right:0;top:0;color:#fff;font-size:18px;}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li:last-child:after{display:none;}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a{color:#fff;font-size:18px;font-weight:bold;}
/**.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:hover {color:#adadad;}**/
.wrapper-footer footer#footer-openedx .copyright{margin:0 0 5px 190px;font-size:16px;color:#838282;width: 55%;border: 0px solid yellow;}
.wrapper-footer footer#footer-openedx .nav-legal{margin:0 0 20px 190px;}
.wrapper-footer footer#footer-openedx .nav-legal li{margin:0 0 10px 0;}
.wrapper-footer footer#footer-openedx .nav-legal a{font-size:14px;font-weight:bold;color:#b7b7b7;}
.wrapper-footer footer#footer-openedx .nav-legal a:focus,
.wrapper-footer footer#footer-openedx .nav-legal a:hover {color:#f2f2f2;}
.wrapper-footer footer#footer-openedx .sns{position:absolute;right:10px;top:25px;}
.wrapper-footer footer#footer-openedx .sns a{margin:0 5px 0 0;}
.wrapper-footer footer#footer-openedx .accessibility{position:absolute;right:10px;top:60px;}
.wrapper-footer footer#footer-openedx .accessibility a{margin:0 5px 0 0;}

.school_list{padding:30px 0 0 0;background:url('/static/images/bg01.png') repeat  left top;}
.school_list .inner{margin:auto;padding:0 0 30px 0;max-width:1200px;overflow:hidden;}
.school_list .title_type1{margin:0 auto 10px auto;max-width:1200px;padding:0 10px;}
.school_list .inner > a {float:left;padding:10px 0 15px 0;width:10%;border:solid 1px #d1d1d1;border-left:none;text-align:center;background:#fff;box-sizing:border-box;}
.school_list .inner > a:first-child{border-left:solid 1px #d1d1d1;}
.school_list .inner > a span{display:block;font-size:16px;letter-spacing:-1px;white-space:nowrap;padding-top:7px;}

.school_list .title_type1:after {content:"";clear:both;display:block;}
.school_list .inner > a img {transform:scale(1);-webkit-transform: scale(1);-moz-transform: scale(1);-o-transform: scale(1);
			transition:all 0.3s;-webkit-transition:all .3s; -moz-transition:all .3s; -o-transition:all .3s; -ms-transition:all .3s;}
.school_list .inner > a:focus img,
.school_list .inner > a:hover img {transform:scale(1.1);-webkit-transform: scale(1.1);-moz-transform: scale(1.1);-o-transform: scale(1.1);
			transition:all 0.3s;-webkit-transition:all .3s; -moz-transition:all .3s; -o-transition:all .3s; -ms-transition:all .3s;}



/**.school_list2{background:#fff;}**/
.school_list2 .inner{margin:auto;padding:0 20px 30px 20px;max-width:1160px;min-height:300px;overflow:hidden;}
.school_list2 .title_type1{margin:0 auto;padding:30px 20px 20px 20px;max-width:1160px;}
.school_list2 .title_type1 span{display:block;padding:0 0 15px 0;border-bottom:solid 1px #999;}
.school_list2 .inner > a{float:left;margin:0 0 15px 1%;padding:10px 10px 15px 10px;width:19.2%;border:solid 1px #d1d1d1;text-align:center;background:#fff;box-sizing:border-box;overflow:hidden;}
.school_list2 .inner > a:focus,
.school_list2 .inner > a:hover {border:solid 1px #f58026;}
.school_list2 .inner > a:nth-child(1),
.school_list2 .inner > a:nth-child(6){margin-left:0;}
.school_list2 .title_type1:after {content:"";clear:both;display:block;}

.title_type1 a {float:right;}
.title_type1:after {content:"";display:block;clear:both;}

.home {background:#f8f8f8 !important;}



.container.rule {line-height:1.7em;font-size:14px;}
.container.rule ol,.container.rule ul,.container.rule li,.container.rule dt, .container.rule dd {padding:0;margin:0;list-style:none;}
.container.rule h2 {font-weight:600;font-size:26px;margin:0 0 20px 0;color:#000;border-bottom:solid 1px #C8C8C8;padding-bottom:15px;}
.container.rule h3 {font-weight:600;font-size:24px;margin:30px 0 20px 0;color:#f58026;}
.container.rule h4 {font-weight:600;font-size:18px;margin:25px 0 10px 0;color:#f58026;}
.container.rule dt {font-weight:600;font-size:16px;margin:15px 0 5px 0;color:#000;position:relative;}
.container.rule dd > ol > li {text-indent:-17px;padding-left:17px;}
.container.rule dd > ol > li ol {margin:5px 0 7px 17px;}
.container.rule dd > ul > li {text-indent:-12px;padding-left:12px;}
.container.rule dd li ul {margin:5px 0 7px 12px;}
.container.rule dd table {border-top:solid 2px #f58026;margin-top:10px;width:100%;background:#fdfdfd;border-bottom:solid 1px #c8c8c8;}
.container.rule dd caption {display:none;}
.container.rule dd th {background:#fdfdfd;padding:10px 0;text-align:center;border-left:solid 1px #c8c8c8;text-indent: 0;}
.container.rule dd td {padding:2px 10px;border-left:solid 1px #c8c8c8;border-bottom:solid 0px #c8c8c8;text-indent:0;}
.container.rule dd tr th:first-child,.container.rule dd tr td:first-child {border-left:0;}
.container.rule dl.license dt > img {position:absolute;left:0;top:7px;}
.container.rule dl.license dt , .container.rule dl.license dd {padding-left:100px;}

.rule_scroll_box {border:solid 1px #c8c8c8;overflow-x:hidden;overflow-y:auto;padding:10px;height:200px;}


.container.faq h2 {font-weight:700;font-size:26px;margin:0 0 20px 0;color:#2b2a2a;border-bottom:solid 1px #C8C8C8;padding-bottom:15px;}
.container.faq dt, .container.faq dd {padding:0;margin:0;line-height:1.7em;position:relative;}
.container.faq .faq_box {margin-top:20px;}
.container.faq .faq_box dt > a {display:block;padding:15px 0;text-decoration: none !important;}
.container.faq .faq_box dt > a span {display:inline-block;padding-left:18px;}
/*.container.faq .faq_box dt > a:focus {outline: none !important; border: 1px dotted;}*/
.container.faq .faq_box dt > a:focus span,
.container.faq .faq_box dt > a:hover span, .container.faq .faq_box dt.active > a span {color:#f58026; text-decoration: none;}
.container.faq .faq_box dt > a i {color:#f58026;position:absolute;left:0;top:20px;}
.container.faq .faq_box dd {font-size:14px;padding:15px 18px;background:#f2f2f2;}

.container.about {padding:0 10px;}
.container.about .school_info {padding:0;}
.container.about .school_info .inner {width:auto;}
.container.about .school_info .inner p.title_type2{margin:0;}
.container.about .school_info .inner p.title_type2 span {padding-top:40px;font-size:26px;line-height:1.3em;margin:0;}
.container.about .school_info img {max-width:100%;margin-top:20px;}

.container.about > nav {margin-top:40px;margin-bottom:10px;text-align:left;border-bottom:solid 4px #c8c8c8;height:45px;}
.container.about > nav:after {content:"";display:block;clear:both;}
.container.about > nav a {width:25%;text-align:center;font-size:18px;border:0;font-style:normal;font-weight:600;float:left;margin:0;padding:15px 10px;border-radius:5px 5px 0 0;height:45px;box-sizing:border-box;;background:#e9e9e9;margin-right:3px;}
.container.about > nav a.active {color:#fff;background:#f58026;border-color:#f58026;}

.container.about > nav a:focus {width:25%;text-align:center;font-size:18px;border:1px dotted;font-style:normal;font-weight:600;float:left;margin:0;padding:15px 10px;border-radius:5px 5px 0 0;height:45px;box-sizing:border-box;;background:#9f5010;margin-right:3px;}



.container.contact h2 {font-weight:700;font-size:26px;margin:0 0 20px 0;color:#000;border-bottom:solid 1px #C8C8C8;padding-bottom:15px;}
.map_box {text-align:center;padding:20px 0 30px 0;}
.map_box img {border:solid 1px #d9d9d9;max-width:100%;}
.container.contact dl {max-width:650px;margin:0 auto;line-height:1.5em;}
.container.contact dt {float:left;font-weight:600;clear:left;font-size:14px;}
.container.contact dd {padding-left:45px;padding-bottom:15px;font-size:14px;}

.school_list .inner{padding:0 10px 30px 10px;}

header.global .nav-global li.active1 {right:95px;}
header.global .nav-global li.active2 {right:10px;}
header.global .nav-global li.deactive{display:none;}


@media only screen and (max-width:1100px) {

	.school_list .inner > a{width:20%;}
	.school_list .inner > a:nth-child(6){border-left:solid 1px #d1d1d1;}
	.school_list .inner > a:nth-child(6),
	.school_list .inner > a:nth-child(7),
	.school_list .inner > a:nth-child(8),
	.school_list .inner > a:nth-child(9),
	.school_list .inner > a:nth-child(10){border-top:none;}

	.container.about .school_list .inner{padding:0;}

	/*.school_info .inner{padding:0 10px;}*/

	.school_list2 .inner > a{width:32.5%;}
	.school_list2 .inner > a:nth-child(4),
	.school_list2 .inner > a:nth-child(7),
	.school_list2 .inner > a:nth-child(10){margin-left:0;}
	.school_list2 .inner > a:nth-child(5),
	.school_list2 .inner > a:nth-child(6){margin-left:1%;}

	/*.container.about > nav {padding:0 10px;box-sizing:border-box;height:48px;}*/
	.container.about > nav {box-sizing:border-box;height:48px;}

}

@media only screen and (max-width:950px) {
	.wrapper-footer footer#footer-openedx .copyright{margin:0 0 5px 190px;font-size:16px;color:#838282;width: 50%;border: 0px solid deeppink;}

}

@media only screen and (max-width:813px) {
	.home>header.type1{padding-bottom:0;}
	.school_info .inner{padding-top:15px;}
	.container.about .school_info .inner{padding-top:0;}
	.home>header .vod{text-align:center;padding:20px 0 30px 0;}
	.home > header .title {float:none !important;margin:0 auto;padding:20px 0 30px 0;}
	.container.about > nav a {width:33%;}
	.wrapper-footer footer#footer-openedx .copyright{margin:0 0 5px 190px;font-size:16px;color:#838282;width: 45%;border: 0px solid green;}

}

@media only screen and (max-width:750px) {
	header.global .nav-global li .deactive{display:block;}
	header.global h1.logo{float:none;margin:0 auto;padding:20px 0 0 0;}
	header.global.slim h1.logo{float:none;margin:0 auto;padding:20px 0 0 0;}
	header.global.slim h1.logo a {text-align:center;}
	header.global.slim h2.course-header{float:none;width:100%;text-align:center;margin:0 auto;padding-bottom:10px;}
	header.global .nav-global{margin:0;padding:20px;}
	header.global .nav-global li[class^="gnb"]{width:22%;}
	header.global .nav-global li:nth-child(1){right:100px;top:85px;}
	header.global .nav-global li:nth-child(2){right:10px;top:85px;}
	header.global .nav-global li .deactive{display:none !important;}
	header.global .user{margin-top:-55px;}
	header.global.slim .user {margin-top:-35px;}

	.home>header .title .course-search{padding:10px 120px 10px 10px;}
	.home>header .title .course-search .search-button,
	.home>header .title .course-search .search-button:focus,
	.home>header .title .course-search .search-button:hover{right:20px;}

	.school_list2 .inner > a{width:49.5%;}
	.school_list2 .inner > a:nth-child(3),
	.school_list2 .inner > a:nth-child(5),
	.school_list2 .inner > a:nth-child(7),
	.school_list2 .inner > a:nth-child(9){margin-left:0;}
	.school_list2 .inner > a:nth-child(4),
	.school_list2 .inner > a:nth-child(6),
	.school_list2 .inner > a:nth-child(8),
	.school_list2 .inner > a:nth-child(10){margin-left:1%;}

	.container {width:auto;padding:15px;}

	.dashboard .my-courses, .course-info .details {float:none;width:100%;}
	.dashboard .profile-sidebar {float:none;width:auto;margin:20px 0;}

	.course-info .details {float:none;margin-right:0;width:auto;}
	.course-info .course-sidebar {float:none;width:auto;}
	.course-info header.course-profile .intro-inner-wrapper .media {display:none;}
	.course-info header.course-profile .intro-inner-wrapper .intro {width:auto;display:block;}

	.container.about > nav a {width:40%;}
	.wrapper-footer footer#footer-openedx .copyright{margin:0 0 5px 190px;font-size:16px;color:#838282;width: 35%;border: 0px solid red;}
}

@media only screen and (max-width:640px) {
	header.global .nav-global{padding:0;display:none;}
	header.global h1.logo, header.global.slim h1.logo {padding:20px 0;}
	header.global .user{padding:0;display:none;}
	header.global .close + .nav-global{display:block;}
	header.global .nav-global li:nth-child(1){display:block;position:relative;right:0px;top:0px;padding:0;width:50%;float:left;}
	header.global .nav-global li:nth-child(2){display:block;float:right;position:relative;right:0px;top:0px;padding:0;width:50%;border-left:solid 1px #fff;}
	header.global .nav-global li a.btn,
	header.global .nav-global li a.btn.type2{height:60px;line-height:60px;font-size:18px;color:#fff;border-radius:0;border:none;background:#007db8;}

	header.global .nav-global li[class^="gnb"]{float:none;width:100%;border-top:solid 1px #ddd;}
	header.global .nav-global li[class^="gnb"] a{float:none;padding:0 0 0 20px;width:auto;height:58px;line-height:58px;font-size:18px;color:#777;background:none;}

	*[data-btn="gnb"]{display:block;}

	.wrapper-footer footer#footer-openedx .wrapper-logo{display:none;}
	.wrapper-footer footer#footer-openedx .colophon .nav-colophon{margin:0 10px 0 10px;}
	.wrapper-footer footer#footer-openedx .copyright{margin:0 10px 5px 10px;width: 90%;}
	.wrapper-footer footer#footer-openedx .nav-legal{margin:0 10px 10px 10px;}
	.wrapper-footer footer#footer-openedx .sns{position:relative;right:auto;top:auto;margin:0 0 10px 10px;}
	.wrapper-footer footer#footer-openedx .accessibility{position:relative;right:auto;top:auto;margin:0 0 10px 10px;}


	.school_info  .inner p.title_type2 img{float:none;margin:20px 0 20px 0;}
	.school_info  .inner p.title_type2 span{float:none;margin:25px 0 0 0;line-height:1em;}
	.school_info  .inner p.title_type2{text-align:center;}

	.container.about .school_info  .inner p.title_type2{text-align:left;}
	/*.container.about > nav {padding:0 5px;}*/
	.container.about > nav a {width:50%;margin:0;}

}

@media only screen and (max-width:580px) {
	.school_list .inner > a{width:50%;}
	.school_list .inner > a:nth-child(6){border-left:none;}
	.school_list .inner > a:nth-child(2n + 1){border-left:solid 1px #d1d1d1;}
	.school_list .inner > a:nth-child(3),
	.school_list .inner > a:nth-child(4),
	.school_list .inner > a:nth-child(5),
	.school_list .inner > a:nth-child(6),
	.school_list .inner > a:nth-child(7),
	.school_list .inner > a:nth-child(8),
	.school_list .inner > a:nth-child(9),
	.school_list .inner > a:nth-child(10){border-top:none;}

	.school_list2 .inner > a{margin:0 0 10px 0! important;width:100%;}
}

.facet-list button{
	border: 1px dotted;
}

ul.facet-list li:focus{
	border: 1px dotted;
}

ul,ol {margin:0;padding:0;list-style:none;}
li, dl, dd, dt{margin:0;padding:0;list-style:none;}
img{ border:none}




/*.icon {margin:0 0 10px 0;padding:0 0 0 10px;background:url(../images/dot.gif) no-repeat 0 8px;color:#505050;line-height:1.5em;}*/
.join li{float:left; margin:10px 0 0 0}
.pr15 {padding:0 15px 0 0 }
.agree_box {width:100%;height:140px;padding:10px;margin-bottom:11px;border:1px solid #d9d9d9; font: 12px "Open Sans","Nanum Gothic";}
.agree{overflow:hidden;width:100%;margin-bottom:15px;text-align:right;}
.agree label{font: 15px "Open Sans","Nanum Gothic" !important;}
.content h5 {margin:0 0 10px 0;padding:0 0 0 22px;background:url(../images/bl_tr.png) no-repeat 0 0px;color:#505050;line-height:1.5em; background-position: left center;}
.btn{width:100%; text-align:center;}
.btn_ipin{width:100%; text-align:center; margin:30px 0 0 0}
.btn_back{width:100%; text-align:center; margin:50px 0 0 0}
