<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="header_extras">
</%block>

<%block name="js_extra">
</%block>

<%block name="pagetitle">개인정보처리방침 | K-MOOC</%block>
<%
  platform_name = microsite.get_value('platform_name', settings.PLATFORM_NAME)
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
  if self.stanford_theme_enabled():
    course_index_overlay_text = _("Explore free courses from {university_name}.").format(university_name="Stanford University")
    logo_file = static.url('themes/stanford/images/seal.png')
    logo_alt_text = "Stanford Seal Logo"

  else:
    course_index_overlay_text = microsite.get_value('course_index_overlay_text', _("Explore courses from {platform_name}.").format(platform_name=platform_name))

    if settings.FEATURES.get('IS_EDX_DOMAIN', False):
      # For some reason, `static.url('images/edx-theme/edx-logo-bw.png')` breaks template rendering.
      default_image_url = settings.STATIC_URL + 'images/edx-theme/edx-logo-bw.png'
    else:
      default_image_url = settings.STATIC_URL + 'images/default-theme/logo-large.png'

    logo_file = microsite.get_value(
      'course_index_overlay_logo_file', default_image_url
    )

    logo_alt_text = _("{platform_name} Logo").format(platform_name=platform_name)
%>
  
  

<section class="container rule">
	
			<h2>K-MOOC 개인정보처리방침</h2>
			
            <p>국가평생교육진흥원(이하 “진흥원”이라 한다)에서 운영하는 K-MOOC 홈페이지 (http://www.kmooc.kr, 이하 ‘당 홈페이지’라 한다)는 '개인정보 보호법'에 따라 이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다.<br><br>
			진흥원은 당 홈페이지의 개인정보 처리방침을 개정하는 경우 당 홈페이지 공지사항(또는 개별공지)을 통하여 공지할 것입니다.<br><br>
			○ 본 방침은 2015년 10월 14일부터 시행됩니다. <br><br></p>

            <dd><ol><li>
                <table summary="개인정보처리방침 항목">
                    <caption>
                        개인정보처리방침 항목
                    </caption>
                    <colgroup>
                        <col width="50%"/>
                        <col width="50%"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>제1조(개인정보의 처리목적)<br/>
                                제2조(개인정보의 처리 및 보유기간)<br/>
                                제3조(개인정보의 제3자 제공)<br/>
                                제4조(개인정보처리의 위탁)<br/>
                                제5조(정보주체의 권리 · 의무 및 행사방법)<br/>
                                제6조(처리하는 개인정보 항목)<br/>&nbsp;
                            </td>
                            <td>제7조(개인정보의 파기)<br/>
                                제8조(개인정보의 안전성 확보조치)<br/>
                                제9조(개인정보 보호책임자)<br/>
                                제10조(개인정보 열람청구)<br/>
                                제11조(권익침해 구제방법)<br/>
                                제12조(개인정보 처리방침 변경)<br/>&nbsp;
                            </td>
                        </tr>
                    </tbody>
                    </table>
            </li></ol></dd>

			<dl>
				<dt>제1조 (개인정보의 처리목적)</dt>
				<dd>
						<p>1. 당 홈페이지는 개인정보를 다음의 목적을 위해 개인정보를 처리합니다. 처리한 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경될 시에는 사전 동의를 구할 예정입니다.</p>
						<ol>
							<li>① 홈페이지 회원 가입 및 관리 <br>
								회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별 · 인증, 회원자격 유지 · 관리, 서비스 부정이용 방지 등을 목적으로 개인정보를 처리합니다.
							</li>
							<li>② 민원사무 처리 <br>
								민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락 • 통지, 처리결과 통보 등의 목적으로 개인정보를 처리합니다.
							</li>
							<li>③ 서비스 개선 및 마케팅 <br>
								신규 서비스 개발 및 특화, 개인별 맞춤서비스를 제공하기 위한 자료, 접속 빈도 파악, 회원의 서비스 이용에 대한 통계, 새로운 소식 알림 등 서비스 제공에 관련한 목적으로 개인정보를 처리합니다.

                        <p>2. 당 홈페이지가 '개인정보 보호법' 제32조에 따라 등록 · 공개하는 개인정보파일의 처리목적은 다음과 같습니다.</p>
								<table summary="개인정보 파일의 처리">
									<caption>
										개인정보 파일의 처리
									</caption>
									<colgroup>
										<col width="20%"/>
										<col width="22%"/>
										<col width="auto"/>
										<col width="12%"/>
									</colgroup>
									<thead>
										<tr>
											<th scope="col">개인정보파일의 명칭</th>
											<th scope="col">운영근거/처리목적</th>
											<th scope="col">개인정보파일에 기록되는개인정보의 항목</th>
											<th scope="col">보유기간</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>K-MOOC 홈페이지 회원정보</td>
											<td>정보주체 동의/정보제공</td>
											<td class="tl">
                                                - 필수항목 : 이메일, 실명, 아이디, 비밀번호, 국가, 성별, 출생연도, 기타(접속IP, 쿠키, 서비스 이용기록, 접속 로그)<br/>
                                                - 선택항목 : 거주지, 최종학력
											</td>
											<td>회원 탈퇴시 까지</td>
										</tr>
									</tbody>
								</table>
							</li>
						</ol>
				</dd>
				<dt>제2조 (개인정보의 처리 및 보유기간)</dt>
				<dd>당 홈페이지는 법령에 따른 개인정보 보유 &bull; 이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의 받은 개인정보 보유 &bull; 이용기간 내에서 개인정보를 처리 &bull; 보유합니다<br>각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.
					<ul>
						<li>&bull; 홈페이지 회원 가입 및 관리 : 회원 탈퇴 시까지다만, 다음의 사유에 해당하는 경우에는 해당 사유 종료 시까지 보유하며, 회원ID 및 이용 기록에 한하여 서비스 이용의 혼선방지 및 통계 정보 유지를 위해 영구 보유합니다.
							<ul>
								<li>- 관계 법령 위반에 따른 수사 조사 등이 진행 중인 경우에는 해당 수사 &bull; 조사 종료 시까지</li>
								<li>- 홈페이지 이용에 따른 채권 &bull; 채무관계 잔존 시에는 해당 채권 &bull; 채무관계 정산 시까지 </li>
							</ul>
						</li>
						<li>&bull; 민원사무 처리 : 민원처리 종료 후 3년</li>
						<li>&bull; (정보통신망 이용촉진 및 정보보호 등에 관한 법률) 시행령 제29조에 따른 본인확인정보 보관 : 게시판에 정보 게시가 종료된 후 6개월</li>
					</ul>
				</dd>
				<dt>제3조 (개인정보의 제3자 제공)</dt>
				<dd>당 홈페이지는 원칙적으로 이용자의 개인정보를 수집∙이용 목적으로 명시한 범위 내에서 처리하며, 다음의 경우를 제외하고는 이용자의 사전 동의 없이는 본래의 목적 범위를 초과하여 처리하거나 제3자에게 제공하지 않습니다.</dd>
                    <ul>
						<li>&bull; 정보주체로부터 별도의 동의를 받은 경우</li>
						<li>&bull; 다른 법률에 특별한 규정이 있는 경우</li>
                        <li>&bull; 정보주체 또는 그 법정대리인이 의사표시를 할 수 없는 상태에 있거나 주소불명 등으로 사전 동의를 받을 수 없는 경우로서 명백히 정보주체 또는 제3자의 급박한 생명, 신체, 재산의 이익을 위하여 필요하다고 인정되는 경우</li>
                        <li>&bull; 통계작성 및 학술연구 등의 목적을 위하여 필요한 경우로서 특정 개인을 알아볼 수 없는 형태로 개인정보를 제공하는 경우</li>
                        <li>&bull; 개인정보를 목적 외의 용도로 이용하거나 이를 제3자에게 제공하지 아니하면 다른 법률에서 정하는 소관 업무를 수행할 수 없는 경우로서 보호위원회의 심의·의결을 거친 경우</li>
                        <li>&bull; 조약, 그 밖의 국제협정의 이행을 위하여 외국정부 또는 국제기구에 제공하기 위하여 필요한 경우</li>
                        <li>&bull; 범죄의 수사와 공소의 제기 및 유지를 위하여 필요한 경우</li>
                        <li>&bull; 법원의 재판업무 수행을 위하여 필요한 경우</li>
                        <li>&bull; 형(刑) 및 감호, 보호처분의 집행을 위하여 필요한 경우</li>
                        <li>&bull; K-MOOC 강좌 학습자에 관해 강좌 운영자에 제공하는 경우</li>
					</ul>
				<dt>제4조 (개인정보처리의 위탁)</dt>
				<dd>진흥원은 정보주체의 동의 없이 해당 개인정보의 처리를 타인에게 위탁하지 않습니다. 향후 진흥원이 당 홈페이지의 개인정보 처리 업무를 제3자에게 위탁 필요가 생길 경우, '개인정보 보호법' 제26조에 따라 위탁하며 위탁업무의 내용과 수탁자 등의 정보를 지체 없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다. 또한 필요한 경우 사전 동의를 받도록 하겠습니다. </dd>
				<dt>제5조 (정보주체의 권리 • 의무 및 행사방법)</dt>
				<dd>
					<ol>
						<li>① 정보주체는 당 홈페이지에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.
							<ul>
								<li>&bull; 개인정보 열람 요구 : 당 홈페이지의 개인정보파일은 '개인정보 보호법' 제35조에 따라 열람을 요구할 수 있습니다. 단, 법 제35조 5항에 의하여 다음 사항에 해당될 경우 열람을 제한할 수 있습니다.
									<ul>
										<li>- 법률에 따라 열람이 금지되거나 제한되는 경우</li>
										<li>- 다른 사람의 생명 • 신체를 해할 우려가 있거나 다른 사람의 재산과 그 밖의 이익을 부당하게 침해할 우려가 있는 경우</li>
										<li>- 공공기관이 다음 각 목의 어느 하나에 해당하는 업무를 수행할 때 중대한 지장을 초래하는 경우 
											<ul>
												<li>* 조세의 부과 징수 또는 환급에 관한 업무</li>
                                                <li>* (초.중등교육법) 및 (고등교육법)에 따른 각 급 학교, (평생교육법)에 따른 평생교육시설, 그 밖의 다른 법률에 따라 설치된 고등교육기관에서의 성적 평가 또는 입학자 선발에 관한 업무</li>
                                                <li>* 학력기능 및 채용에 관한 시험, 자격시험에 관한 업무</li>
                                                <li>* 보상금.급부금 산정 등에 대하여 진행 중인 평가 또는 판단에 관한 업무</li>
                                                <li>* 다른 법률에 따라 진행 중인 감사 및 조사에 관한 업무</li>
											</ul>
										</li>
									</ul>
								</li>
								<li>&bull; 개인정보 정정 삭제 요구 : 당 홈페이지의 개인정보파일은 '개인정보 보호법' 제36조에 따라 정정 • 삭제를 요구할 수 있습니다. 다만, 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우에는 삭제를 요구할 수 없습니다.</li>
								<li>&bull; 개인정보 처리정지 요구: 당 홈페이지의 개인정보파일은 '개인정보 보호법' 제37조에 따라 처리정지를 요구할 수 있습니다. 다만, 개인정보 처리정지 요구 시 법 제37조 2항에 의하여 처리정지 요구를 거절할 수 있습니다.</li>
							</ul>
						</li>
						<li>② 제1항에 따른 권리 행사는 진흥원에 대해 '개인정보 보호법' 시행규칙 별지 제8호 서식에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며 진흥원은 이에 대해 지체 없이 조치하겠습니다.</li>
					</ol>
				</dd>
				<dt>제6조 (처리하는 개인정보 항목)</dt>
				<dd>당 홈페이지는 다음의 개인정보 항목을 처리하고 있습니다.
					<ul>
						<li>&bull; 홈페이지 회원 가입 및 관리
							<ul>
								<li>- 필수항목 : 이메일, 실명, 아이디, 비밀번호, 국가, 성별, 출생연도</li>
                                <li>- 선택항목 : 거주지, 최종학력</li>
								<li>- 수집방법 : 홈페이지</li>
							</ul>
						</li>
						<li>&bull; 민원사무 처리
							<ul>
								<li>- 성명, 전화번호, 주소, 전자우편 주소</li>
							</ul>
						</li>
						<li>&bull; 인터넷 서비스 이용과정에서 아래 개인정보 항목이 자동으로 생성되어 수집될 수 있습니다.
							<ul>
								<li>- 접속 IP 주소, 쿠키, 서비스 이용기록, 방문기록, 접속 로그, 불량 이용기록 등</li>
							</ul>
						</li>
					</ul>
				</dd>
				<dt>제7조 (개인정보의 파기)</dt>
				<dd>당 홈페이지에서 처리하는 개인정보는 소관업무 및 법령에서 정한 최소한의 개인정보만을 처리하고 있습니다.
					<ol>
						<li>① 당 홈페이지는 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체 없이 해당 개인정보를 파기합니다.</li>
						<li>② 정보주체로부터 동의 받은 개인정보 보유기간이 경과하거나 처리목적이 달성되었음에도 불구하고 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보 (또는 개인정보파일)을 별도의 데이터베이스(DB)로 옮기거나 보관 장소를 달리하여 보존합니다.</li>
						<li>③ 개인정보 파기의 절차 및 방법은 다음과 같습니다.
							<ul>
								<li>&bull; 파기절차<br>진흥원은 파기하여야 하는 개인정보 (또는 개인정보파일)에 대해 개인정보 파기계획을 수립하여 파기합니다. 진흥원은 파기사유가 발생한 개인정보(또는 개인정보파일)을 선정하고, 진흥원의 개인정보 보호책임자의 승인을 받아 개인정보(또는 개인정보파일)을 파기합니다.</li>
								<li>&bull; 파기방법<br>진흥원은 전자적 파일 형태로 기록 &bull; 저장된 개인정보는 기록을 재생할 수 없도록 파기하며, 종이 문서에 기록 &bull; 저장된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다.</li>
							</ul>
						</li>
					</ol>
				</dd>
				<dt>제8조 (개인정보의 안전성 확보조치)</dt>
				<dd>당 홈페이지는 '개인정보 보호법' 제29조에 따라 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.
					<ol>
						<li>① 진흥원은 '개인정보 보호법' 제29조에 따라 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다. 
							<ul>
								<li>&bull; 관리적 조치 : 내부관리계획 수립 • 시행, 취급 직원 최소화, 정기적 직원 교육 등</li>
								<li>&bull; 기술적 조치 : 개인정보처리시스템 등의 접근권한 관리, 접근통제시스템 설치, 고유식별정보및 비밀번호 등의 암호화, 보안프로그램 설치</li>
								<li>&bull; 물리적 조치 : 전산장비실, 자료보관실 등의 접근통제 및 잠금장치 사용</li>
							</ul>
						</li>
					</ol>
				</dd>
				<dt>제9조 (개인정보 보호책임자)</dt>
				<dd>진흥원은 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다. 
					<ul>
						<li>&bull; 개인정보 보호책임자
							<ul>
								<li>- 성명 : 박종오</li>
                                <li>- 직책 : K-MOOC진흥본부장</li>
                                <li>- 전화번호 : 02-3780-9970</li>
                                <li>- 이메일 : privacy@nile.or.kr</li>
                                <li>- 팩스번호 : 02-3780-9769</li>
                                <li>※ 개인정보 보호 담당부서로 연결됩니다.</li>
							</ul>
						</li>
						<li>&bull;개인정보 보호 담당부서 
							<ul>
								<li>- 부서명 : K-MOOC진흥본부/K-MOOC구축운영실</li>
                                <li>- 담당자 : 전재휘</li>
                                <li>- 전화번호 : 02-3780-9980</li>
                                <li>- 이메일 : junjw98@nile.or.kr</li>
                                <li>- 팩스번호 : 02-3780-9769</li>
							</ul>
						</li>
					</ul>
				</dd>
				<dt>제10조 (개인정보 열람청구)</dt>
				<dd>
					<ol>
						<li>① 정보주체는 '개인정보 보호법' 제35조에 따른 개인정보의 열람 청구를 아래의 부서에 할 수 있습니다. 진흥원은 정보주체의 개인정보 열람청구가 신속하게 처리되도록 노력하겠습니다. 
							<ul>
								<li>&bull; 개인정보 열람청구 접수 &bull; 처리부서
									<ul>
										<li>- 부서명 : K-MOOC진흥본부/K-MOOC구축운영실</li>
                                        <li>- 담당자 : 전재휘, 엄슬기</li>
                                        <li>- 연락처 : 02-3780-9980, 9978</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>② 정보주체께서는 제1항의 열람청구 접수 &bull; 처리부서 이외에, 행정자치부의 ‘개인정보보호 종합지원 포털’ 웹사이트 (http://www.privacy.go.kr/)를 통하여서도 개인정보 열람청구를 하실 수 있습니다.
							<ul>
								<li>&bull; 행정자치부 개인정보보호 종합지원 포털 → 개인정보 민원 → 개인정보 열람 등 요구 (본인 확인을 위하여 아이핀 계정이 있어야 함)</li>
							</ul>
						</li>
					</ol>
				</dd>
				<dt>제11조 (권익침해 구제방법)</dt>
				<dd>
					<ol>
						<li>① 정보주체는 아래의 기관에 대해 개인정보 침해에 대한 피해구제, 상담 등을 문의하실 수 있습니다.<br>
						< 아래의 기관은 진흥원과는 별개의 기관으로서, 진흥원의 자체적인 개인정보 불만처리, 피해구제 결과에 만족하지 못하시거나 보다 자세한 도움이 필요하시면 문의하여 주시기 바랍니다. >
							<ul>
								<li>&bull; 개인정보보호 종합지원 포털 (행정자치부 운영)
									<ul>
										<li>- 소관업무 : 개인정보 침해사실 신고, 상담 신청, 자료제공</li>
    								<li>- 홈페이지 : http://www.privacy.go.kr/</li>
    								<li>- 전화 : 02-2100-3394</li>
									</ul>
								</li>
								<li>&bull; 개인정보 침해신고센터 (한국인터넷진흥원 운영)
									<ul>
										<li>- 소관업무 : 개인정보 침해사실 신고, 상담 신청</li>
    								<li>- 홈페이지 : http://privacy.kisa.or.kr/</li>
    								<li>- 전화 : (국번 없이) 118</li>
    								<li>- 주소 : (138-950) 서울시 송파구 중대로 135 한국인터넷진흥원 개인정보침해신고센터</li>
									</ul>
								</li>
								<li>&bull;개인정보 분쟁조정위원회 (한국인터넷진흥원 운영) 
									<ul>
										<li>- 소관업무 : 개인정보 침해사실 신고, 집단분쟁조정 (민사적 해결)</li>
    								<li>- 홈페이지 : http://privacy.kisa.or.kr/</li>
    								<li>- 전화 : (국번 없이) 118</li>
    								<li>- 주소 : (138-950) 서울시 송파구 중대로 135 한국인터넷진흥원 개인정보침해신고센터</li>
									</ul>
								</li>
								<li>&bull;경찰청 사이버테러대응센터 
									<ul>
										<li>- 소관업무 : 개인정보 침해 관련 형사사건 문의 및 신고</li>
    								<li>- 홈페이지 : http://www.netan.go.kr/</li>
    								<li>- 전화 : (사이버범죄) 02-393-9112, (경찰청 대표) 1566-0112</li>
									</ul>
								</li>
							</ul>
						</li>
					</ol>
				</dd>
				<dt>제12조 (개인정보 처리방침 변경)</dt>
				<dd>이 개인정보 처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 가능한 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다. <br>시행일자 : 2015.10.14</dd>
			</dl>

</section>

