<%!
  import json
  from django.utils.translation import ugettext as _
  from microsite_configuration import microsite
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="js_extra">
  % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
  <%static:js group='discovery'/>
  % endif
</%block>

<%block name="pagetitle">고려대학교</%block>
<%
  platform_name = microsite.get_value('platform_name', settings.PLATFORM_NAME)
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
  if self.stanford_theme_enabled():
    course_index_overlay_text = _("Explore free courses from {university_name}.").format(university_name="Stanford University")
    logo_file = static.url('themes/stanford/images/seal.png')
    logo_alt_text = "Stanford Seal Logo"

  else:
    course_index_overlay_text = microsite.get_value('course_index_overlay_text', _("Explore courses from {platform_name}.").format(platform_name=platform_name))

    if settings.FEATURES.get('IS_EDX_DOMAIN', False):
      # For some reason, `static.url('images/edx-theme/edx-logo-bw.png')` breaks template rendering.
      default_image_url = settings.STATIC_URL + 'images/edx-theme/edx-logo-bw.png'
    else:
      default_image_url = settings.STATIC_URL + 'images/default-theme/logo-large.png'

    logo_file = microsite.get_value(
      'course_index_overlay_logo_file', default_image_url
    )

    logo_alt_text = _("{platform_name} Logo").format(platform_name=platform_name)
%>

<section class="home">

<!-- home S -->
			<header class="type1">
				<img src="/static/images/univ_intro/univ_top_korea.png" alt="">
			</header>
			<section class="school_info">	 <!-- school_info S -->
				<div class="inner">
					<p class="title_type2"><span>고려대학교</span><img src="/static/images/univ_intro/univ_logo_korea.png" alt="고려대학교"></p>
					<p>교육의 위기 속에 대학의 미래를 생각합니다.</p>
                    <p>개척하는 지성을 키워낼 미래의 대학이 되겠습니다.</p>
					<p>고려대학교의 역사는 그 첫걸음부터 새로운 학문을 통해 근대화의 인재를 키워낸 개척의 역사였습니다. 1905년 일제강점기를 눈앞에 둔 시기, 나라는 갈 곳을 잃고 표류했습니다. 고려대학교는 ‘교육구국(敎育救國)’의 사명으로 민족의 어두웠던 앞날에 교육을 통해 한줄기 등불을 밝혔습니다.</p>
					<p>그 후 안암의 언덕에서 자유, 정의, 진리의 교훈으로 교육받은 수많은 고대인들은 이 땅의 민주주의와 경제발전을 이루어낸 개척자가 되었습니다. 최초의 민립 고등교육기관이라는 자부심, 민족과 나라의 앞날을 선도해왔던 한 세기는 누구나 가질 수 없는 위대한 전통입니다.
고려대학교는 21세기 새로운 미래를 이끌어가는 대학의 아이콘이 될 것입니다. 유연학기제, 토론식 수업 등 새로운 교육방법은 개척하는 지성을 키워내는 변화의 단초가 될 것입니다. 국제개발협력, 통일준비, 사회적 기업 등 우리 사회와 세계의 변화를 이끌어 나갈 수 있는 지식을 마련할 것입니다.</p>
					<p>Korea University (KU) is embarking on a fresh start through “pioneering intellectuals.” KU must not produce weak or timid thinkers, who passively watch their future approach with anxiety and frustration. Established as the first advanced private educational institution in 1905, before the impending Japanese occupation era, KU was a trailblazer in the modernization of our nation. “national salvation through education,” KU spearheaded the cultivation of future leaders by offering new and practical studies in law and economy.  Educated with the values of liberty, justice and truth, our predecessors laid a strong foundation for the democratization and industrialization of Korea.</p>
					<p>고려대학교 총장 염재호</p>
                    <p>President of Korea University, Jaeho Yeom</p>
				</div>
			</section>	 <!-- school_info E -->

  <section class="courses-container">


    <section class="courses${'' if course_discovery_enabled else ' no-course-discovery'}">
      <ul class="courses-listing">
        %for course in courses:
        <li class="courses-listing-item">
          <%include file="../course.html" args="course=course" />
        </li>
        %endfor
      </ul>
    </section>



  </section>
</section>
