<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">
    %if initial_mode == 'login':
        로그인
    %else:
        회원가입
    %endif
</%block>

<%block name="js_extra">
    <script src="${static.url('js/vendor/underscore-min.js')}"></script>
    <script src="${static.url('js/vendor/underscore.string.min.js')}"></script>
    <script src="${static.url('js/vendor/backbone-min.js')}"></script>
    <script src="${static.url('js/vendor/url.min.js')}"></script>
    <script src="${static.url('js/vendor/history.js')}"></script>
    <script>

##         %if initial_mode != 'login':
## 
##         console.log(sessionStorage.getItem("reg_gubn") + ":" + sessionStorage.getItem("step"))
##
##         if((sessionStorage.getItem("reg_gubn") == "Y" && sessionStorage.getItem("step") == "1") || (sessionStorage.getItem("reg_gubn") == "N" && sessionStorage.getItem("step") == "2"))
##             console.log("correct");
##         else
##             document.location.href = "/"
##         %endif


        function agreementPop(){
            var pop = window.open("/agreement","agreement","width=1260,height=768,left=50,top=50,scrollbars=yes,realzable=yes");
            if(pop)
                pop.focus();
        }

        function privacyPop(){
            var pop = window.open("/Privacy-Policy","privacy","width=1260,height=768,left=55,top=55,scrollbars=yes,realzable=yes");
            if(pop)
                pop.focus();
        }

        $(document).ready(function(){
            var d = new Date();
            var year = d.getFullYear();

            %if division == 'Y':
                $("#register-year_of_birth").find("option").each(function(){
                    if($(this).val() != "" && eval(year - $(this).val()) < 14)
                        $(this).remove();
                });

            %else:
                $("#register-year_of_birth").find("option").each(function(){
                    if($(this).val() != "" && eval(year - $(this).val()) > 13)
                        $(this).remove();
                });
            %endif
        });

    </script>
    <%static:js group='student_account'/>
</%block>

<%block name="header_extras">
    % for template_name in ["account", "access", "form_field", "login", "register", "institution_login", "institution_register", "password_reset", "hinted_login"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="student_account/${template_name}.underscore" />
        </script>
    % endfor
</%block>

<div class="section-bkg-wrapper">
    <div id="login-and-registration-container"
        class="login-register"
        data-division="${division}"
        data-initial-mode="${initial_mode}"
        data-third-party-auth='${third_party_auth|h}'
        data-third-party-auth-hint='${third_party_auth_hint}'
        data-next-url='${login_redirect_url|h}'
        data-platform-name='${platform_name}'
        data-login-form-desc='${login_form_desc|h}'
        data-registration-form-desc='${registration_form_desc|h}'
        data-password-reset-form-desc='${password_reset_form_desc|h}'
    />
</div>


<script type="text/javascript">
    $(function(){
        $("#register-country option:eq(1)").attr("selected", "selected");
    });
</script>


## % if settings.FEATURES.get('ENABLE_COMBINED_LOGIN_REGISTRATION'):
##     ## This overwrites the "footer" block declared in main.html
##     ## with an empty block, effectively hiding the footer
##     ## from logistration pages.
##     <%block name="footer"/>
## % endif
