<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from microsite_configuration import microsite
%>

<%
  homepage_overlay_html = microsite.get_value('homepage_overlay_html')

  ## To display a welcome video, change False to True, and add a YouTube ID (11 chars, eg "123456789xX") in the following line
  show_homepage_promo_video = microsite.get_value('show_homepage_promo_video', False)
  homepage_promo_video_youtube_id = microsite.get_value('homepage_promo_video_youtube_id', "your-youtube-id")

  show_partners = microsite.get_value('show_partners', True)

%>

<!--popup K-mooc -->
<div id="popupWrap" class="popup-wrap popup-kmooc" style="position: absolute; left: 25px; top: 100px;
    z-index: 10010; display: none; border: 5px solid #b2b2b2; opacity: 1; background: #f2f2f2; font-size: 15px;
    line-height: 25px; padding:20px; width:560px;">
         <b>
        안녕하세요. K-MOOC입니다. <br/>
        K-MOOC 서버문제로 인하여 홈페이지 접속에 불편을 드린 점 진심으로 죄송합니다.<br/>
        현재 K-MOOC서비스는 복구하여 정상서비스 중입니다.<br/>
        혹시 서비스 이용에 불편한 사항이나 건의사항은 help_mooc@nile.or.kr 로 의견주시기 바랍니다. <br/>
        우리 운영진은 이용자께서 주신 의견을 적극검토하여 K-MOOC가 좀 더 나은 서비스가 될 수 있도록 최선을 다하도록 노력하겠습니다.<br/><br/>
        K-MOOC를 이용해주셔서 감사드립니다.<br/>
        </br>
         </b>
        <br>
        <form class="today" id="checkForm" name="checkForm" style="text-align:right; font-style: normal;">
            <label onclick="closeWin();">
                <input id="chkbox" name="chkbox" type="checkbox">
                <span style="font-style:normal; font-size:15px;"><b>오늘 하루 열지 않음 &nbsp;&nbsp;&nbsp;</b></span>
            </label>
            <span><a onClick="document.getElementById('popupWrap').style.display='none'">[ 닫기 ]</a></span>
        </form>
</div>



<script language="Javascript">
cookiedata = document.cookie;

function setCookie( name, value, expiredays ) {
    var todayDate = new Date();
    todayDate.setDate( todayDate.getDate() + expiredays );
    document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";"
}

function closeWin() {
    if ( document.getElementById('checkForm').chkbox.checked ){
        setCookie( "popupdiv", "done" , 1 );
    }
    document.all['popupWrap'].style.display = "none";
}

popupDate = new Date();
if ( (cookiedata.indexOf("popupdiv=done") < 0 ) &&
     (popupDate.getFullYear() == 2016) &&
     (popupDate.getMonth()== 1-1) &&
     (popupDate.getDate() == 18 )
   ){
    document.all['popupWrap'].style.display = "block";
} else {
    document.all['popupWrap'].style.display = "none";
}

function popClose(id){
    $("#" + id).hide();
}
</script>

<!--popup K-mooc(1)-->
<div id="popupWrap_1" class="popup-wrap popup-kmooc2" style="position: absolute; left: 25px; top: 100px;
    z-index: 10010; display: none; border: 5px solid #EB9D43; opacity: 1; background: #ffffff; font-size: 13px;
    line-height: 25px; padding: 5px; box-shadow: 0 2px 5px 3px #444444;">
        <p style="text-align: center; font-size: 15px;">
            <b>한국형 무크(K-MOOC)의 BI 및 표어(Slogan) 공모전을<br>
            개최하오니 관심 있는 분의 많은 참여를 바랍니다. </b></p>
        <p style="text-align: center">
            <a href="http://blog.naver.com/kmooc_kr/220550673535">
                <img src="http://mme.kmoocs.kr/origin/K-mooc-pop.png" alt="한국형 무크(K-MOOC)의 BI 및 표어(Slogan) 공모전을 개최하오니 관심 있는 분의 많은 참여를 바랍니다. 기간: 15.11.30 ~ 15.12.18">
            </a>
        </p>

        <br/>

        <b>&nbsp;■ 공모내용 : </b>K-MOOC의 비전과 목표가 잘 드러나는 BI 및 표어(Slogan)<br>
        <b>&nbsp;■ 응모자격 : </b>한국형 무크에 관심 있는 일반 국민 전체<br>
        <b>&nbsp;■ 온라인 접수 : </b><font color="blue">kmooc@nile.or.kr</font><br>
        <div style="text-align: right;">
            <label onclick="closeWin1();">
                <input id="chkbox_1" name="chkbox_1" type="checkbox" style="vertical-align: middle;">
                <span style="font-style:normal; font-size:13px;"><b>오늘 하루 열지 않음 &nbsp;&nbsp;</b></span>
            </label>

            <span><a href="javascript:popClose('popupWrap_1');" title="닫기">[ 닫기 ]</a></span>
        </div>
</div>

<script language="Javascript">
function setCookie1( name, value, expiredays ) {
    var todayDate = new Date();
    todayDate.setDate( todayDate.getDate() + expiredays );
    document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";"
}

function closeWin1() {
    if ($("#chkbox_1").is(":checked")){
        setCookie1( "popupdiv2", "done" , 1 );
    }
    document.all['popupWrap_1'].style.display = "none";
}

cookiedata = document.cookie;

popupDate = new Date();
if ( (cookiedata.indexOf("popupdiv2=done") < 0 ) &&
     (popupDate.getFullYear() == 2015) &&
     (popupDate.getMonth()== 11-1 ||
         (popupDate.getMonth()== 12-1 && popupDate.getDate() <= 18)
     )
   ){
    document.all['popupWrap_1'].style.display = "block";
} else {
    document.all['popupWrap_1'].style.display = "none";
}
</script>


<script>
    $(document).ready(function(){

        //layer popup..
        showNotice();

    	$("body").prepend("<div id='mask' style='position: absolute; left: 0; top: 0; z-index: 10000; display: none; opacity: 0.4; background:#363636;'></div>");

        var videoHtml = "";
##         videoHtml += "  <video id='indexVideo' width='640' height='360' poster='' controls style='position: absolute; z-index:10001;top: 200px; display:none; left: calc(50% - 320px);'>";
##         videoHtml += "      <source src='http://vod.kmoocs.kr/vod/2015/09/30/6098c795-39a8-5ec5-9683-49f12ba48dfd.mp4' type='video/mp4' />";
##         videoHtml += "  </video>";

            videoHtml += " <iframe id='indexVideo' width='640' height='360' src='https://www.youtube.com/embed/7BQ6TBWj_RY' frameborder='0' style='position: absolute; z-index:10001;top: 200px; display:none; left: calc(50% - 320px);' allowfullscreen></iframe>"

        $("body").prepend(videoHtml);

        $("#mask").click(function(){
            $("#indexVideo").hide();
	    console.log("src..");
	    var src = $("#indexVideo").attr("src");
            $("#indexVideo").attr("src","");
            $("#indexVideo").attr("src",src);
            $("#mask").fadeOut(200);
##             var video = document.getElementById("indexVideo");
##             video.pause();
        });

        videoResize();

        //position control
        $(window).resize(function(){
            ##모바일환경에서 동영상 크기 조절
            videoResize();

            var maskHeight = $(document).height();
            var maskWidth = $(window).width();
            $("#mask").css({"width":maskWidth,"height":maskHeight});
        });

    });

    function showNotice(){

        var d = new Date();
        if((d.getDay() == 2 || d.getDay() == 5) && d.getHours() == 8 && ( d.getMinutes() >= 0 && d.getMinutes() <= 30)){

            setTimeout(showNotice, 10000);

            if($("#noticeLayer").length)
                return;

            //notice string
            var str = "금일 AM08:00 ~ AM08:30중 업데이트가 진행예정입니다.<br/> 일시적으로 화면이 틀어지거나 로그인이 안될 수 있습니다. <br/> 양해 부탁 드립니다. 감사합니다.";
            var noticeHtml = "<div id='noticeLayer' " +
                    "style='position: absolute; " +
                    "       left: 25px; " +
                    "       top: 20px; " +
                    "       z-index: 10010; " +
                    "       display: block; " +
                    "       border:2px solid #b2b2b2; " +
                    "       opacity: 1; " +
                    "       background:#f2f2f2;" +
                    "       font-size: 30px;" +
                    "       line-height: 55px;" +
                    "       padding:50px;'>" +
                    "       <b>"+str+"</b>" +
                    "       <div style='width:100%; text-align:right;font-size:22px;'>" +
                    "       <a href='javascript:noticeLayerHide();'>[ 닫기 ]</a>" +
                    "       </div>" +
                    "</div>" ;
            $("body").prepend(noticeHtml);

            $("#noticeLayer").dblclick(function(){
                $(this).hide();
            });

        } else {
            $("#noticeLayer").remove();
        }

    }

    function noticeLayerHide(){
        $("#noticeLayer").hide();
    }

    function playVideo(){
        var video = document.getElementById("indexVideo");
        var maskHeight = $(document).height();
        var maskWidth = $(window).width();

##         video.currentTime = 0;
        $("#mask").css({"width":maskWidth+"px","height":maskHeight+"px", "text-align":"center", "vertical-align":"middle"});
        $("#innerMask").css({"width":(maskWidth/2)+"px","height":(maskHeight/2)+"px", "margin":(maskHeight/3)+"px", "display":"inline-block"});
        $("#mask").fadeIn(200);
        $("#indexVideo").fadeIn(300, function(){
##             video.play();
            video.focus();

            $("#indexVideo").blur(function(){
                $("#mask").click();
            });
        });
    }

    function videoResize(){
        if($(window).width() < 640){
            $("#indexVideo").prop("width", $(window).width() - 6).css("left", "3px");
        }else{
            $("#indexVideo").prop("width", "640").css("left", "calc(50% - 320px)");
        }
    }
</script>

<section class="home" style="background: #fff8eb !important;">
  <header>
    <div class="outer-wrapper">
        <div class="title">
            <hgroup>
                <h1><img src="/static/images/main_title.png" alt="최고의 대학, 최고의 강의! 한국형 온라인에서 시작하세요."></h1>
            </hgroup>
            <div class="course-search">
                <form method="get" action="/courses">
##                     <label for="searchInput">원하시는 강의를 검색해 보세요.</label>
                    <input id="searchInput" class="search-input" name="search_query" type="text" placeholder="원하시는 강의를 검색해 보세요." title="원하시는 강의를 검색해 보세요.">
                    <button id="searchBtn" class="search-button" type="submit" title="검색">검색</button>
                </form>
            </div>
        </div>
        <div class="vod">
            <a href="javascript:playVideo();"><img src="/static/images/main_more.png" alt="소개영상 보기"></a>
        </div>

      % if show_homepage_promo_video:
        <a href="#video-modal" class="media" rel="leanModal">
          <div class="hero">
            <div class="play-intro"></div>
          </div>`
        </a>
      % endif
    </div>

  </header>

    <section class="school_list">	 <!-- school_list S -->
        <p class="title_type1">
            <img src="/static/images/title01.png" alt="참여대학">
            <a href="/schools"><img src="/static/images/more.png" alt="참여대학 더보기"></a>
        </p>
        <div class="inner">
            <a href="/school/KHUk"><img src="/static/images/logo02_01.png" alt="경희대학교 대학소개 페이지"><span style="font-family:daumR;">경희대학교</span></a>
            <a href="/school/KoreaUnivK"><img src="/static/images/logo02_02.png" alt="고려대학교 대학소개 페이지"><span style="font-family:daumR;">고려대학교</span></a>
            <a href="/school/PNUk"><img src="/static/images/logo02_03.png" alt="부산대학교 대학소개 페이지"><span style="font-family:daumR;">부산대학교</span></a>
            <a href="/school/SNUk"><img src="/static/images/logo02_04.png" alt="서울대학교 대학소개 페이지"><span style="font-family:daumR;">서울대학교</span></a>
            <a href="/school/SKKUk"><img src="/static/images/logo02_05.png" alt="성균관대학교 대학소개 페이지"><span style="font-family:daumR;">성균관대학교</span></a>
            <a href="/school/YSUk"><img src="/static/images/logo02_06.png" alt="연세대학교 대학소개 페이지"><span style="font-family:daumR;">연세대학교</span></a>
            <a href="/school/EwhaK"><img src="/static/images/logo02_07.png" alt="이화여자대학교 대학소개 페이지"><span style="font-family:daumR;">이화여자대학교</span></a>
            <a href="/school/POSTECHk"><img src="/static/images/logo02_08.png" alt="포항공과대학교 대학소개 페이지"><span style="font-family:daumR;">포항공과대학교</span></a>
            <a href="/school/KAISTk"><img src="/static/images/logo02_09.png" alt="한국과학기술원 대학소개 페이지"><span style="font-family:daumR;">한국과학기술원</span></a>
            <a href="/school/HYUk"><img src="/static/images/logo02_10.png" alt="한양대학교 대학소개 페이지"><span style="font-family:daumR;">한양대학교</span></a>
        </div>
    </section>	 <!-- school_list E -->

  <section class="courses-container" id="course_section">
    <section class="highlighted-courses">

      % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <section class="courses">
            <p class="title_type1">
                <img src="/static/images/title02.png" alt="전체강좌">
                <a href="/courses"><img src="/static/images/more.png" alt="전체강좌 더보기"></a>
            </p>
            <ul class="courses-listing">
            ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses

            %for course in courses[:settings.HOMEPAGE_COURSE_MAX]:
              <li class="courses-listing-item">
                <%include file="course.html" args="course=course" />
              </li>
            %endfor
            </ul>
        </section>
        ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
        % if settings.HOMEPAGE_COURSE_MAX and len(courses) > settings.HOMEPAGE_COURSE_MAX:
          <div class="courses-more">
            <a class="courses-more-cta" href="${marketing_link('COURSES')}" > ${_("View all Courses")} </a>
          </div>
        % endif
      % endif

    </section>
  </section>
</section>

<section id="video-modal" class="modal home-page-video-modal video-modal">
  <div class="inner-wrapper">
##     <%
##       youtube_video_id = homepage_promo_video_youtube_id
##       if self.stanford_theme_enabled():
##         youtube_video_id = "2gmreZObCY4"
##     %>
##     <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${youtube_video_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif

