<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>K-MOOC 브라우저 이용안내</title>
    <style>
        body{position:relative;height:100%; background:#fbf7ef}
        .wrap{position:relative;min-height:100%; text-align:center; top:100px;}
    </style>
</head>
<body>
<div class="wrap">
<img src="/static/images/note_bg.jpg" alt="K-MOOC 브라우저 이용안내" usemap="#Map">
<map name="Map">
  <area shape="rect" coords="145,401,321,614" href="https://www.google.com/chrome/browser/desktop/index.html">
  <area shape="rect" coords="358,361,543,575" href="https://www.mozilla.org/ko/firefox/new/">
</map>
</div>
</html>